/* CSS for Home Page */
.home .img-banner {
  height: 60vh;
  background: url(../images/home-pizza.jpg) #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 50%;
  position: relative;
}
.img-banner .container {
  height: 100%;
  position: relative;
  z-index: 10;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
.img-banner .container h3 {
  font-size: 2.5rem;
  max-inline-size: 30ch;
}
.img-banner .container p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0.5em;
  color: #d8d8d8;
}
.offer {
  display: flex;
  flex-flow: row wrap-reverse;
  padding: 4rem;
  color: white;
}
.offer > * {
  flex: 1;
  min-width: 300px;
  min-height: 40vh;
  background-color: black;
}
.offer-img-wrapper {
  background-image: url(../images/naan.jpg);
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.offer-img-wrapper::before {
  background-color: rgba(0, 0, 0, 0.6);
}
.offer-content {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
